@import "tailwindcss";

@theme {
  --color-gray-*: initial;
  --color-gray: #2e3a3c;
  --color-med-gray: #1e2b2d;
  --color-dark-gray: #1b2629;
}

@font-face {
  font-family: 'Balatro';
  src: url("../m6x11.ttf");
}

@font-face {
  font-family: 'Card';
  src: url("../jokerfontbalatro.ttf");
}

:root {
  font-family: Balatro, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel-shadow {
  box-shadow: 0px 5px color-mix(in srgb, #0068ad, #000);
}

p {
  margin-bottom: -12px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.5);
}

.card-text {
  font-size: 20px;
  font-family: Card;
  text-shadow: none;
}

.spade {
  color: #3b4367;
}

